[Unit]
Description=Patroni high-availability PostgreSQL
After=network.target network-online.target etcd.service
Requires=etcd.service

[Service]
Type=simple
User=postgres
ExecStart=/usr/bin/patroni /etc/patroni/config.yml
KillMode=process
TimeoutSec=30
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target