network:
  version: 2
  ethernets:
    eth0:
      match:
        macaddress: "{{ ansible_facts['eth0']['macaddress'] }}"
      addresses:
        - "{{ ansible_facts['eth0']['ipv4']['address'] }}/24"
      nameservers:
        addresses:
          - 8.8.8.8
        search:
          - maxhome.net
      set-name: "eth0"
      routes:
        - to: "default"
          via: "192.168.70.1"
    eth1:
      match:
        macaddress: "{{ ansible_facts['eth1']['macaddress'] }}"
      addresses:
        - "{{ host_ip }}/24"
      nameservers:
        addresses:
          - 8.8.8.8
        search:
          - maxhome.net
      set-name: "eth1"
      routes:
        - to: "10.10.0.0/16"
          via: "{{ calculated_gateway }}"
        - to: "203.0.113.0/24"
          via: "10.10.30.2"  
